@charset "utf-8";
/*headline部分*/
#headline{
	width:100%;
	min-width: 1263px;
	height:300px;
	background: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0)),url(../img/headline.jpg) no-repeat center;
}
#headline .center{
	width:1263px;
	height: 300px;
	margin: 0 auto;
}
#headline hgroup{
	padding: 100px 0 0 50px;
}
#headline h2{
	color:#eee;
	font-size: 36px;
	letter-spacing: 1px;
}
#headline h3{
	color:#eee;
	font-size: 20px;
	letter-spacing: 1px;
}

.container{
	width:1263px;
	margin: 30px auto;
}
.container .sidebar{
	float:right;
	width:340px;
}

/*侧栏部分*/
.container .sidebox{
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}
.container .sidebox h2{
	height: 40px;
	line-height: 40px;
	color:#666;
	font-size:20px;
	font-weight: normal;
	letter-spacing: 1px;
	text-indent: 8px;
	background-color: #fafafa;
	text-align: left;
}
.container .tag{
	padding: 10px 0;
}
.container .tag li{
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: left;
	text-indent: 8px;
	margin:2px 0;
	background-color: #eee;
}
.container .tag a{
	display: block;
	color:#999;
}
.container .tag a:hover{
	color:#fff;
	background-color: #458000;
}
.container .figure {
	padding:10px 0;
}
.container .figure img{
	width: 150px;
	height: 120px;
}
.container figure{
	display: inline-block;
	padding: 4px;
	color:#666;
}
.container .box{
	padding: 10px 0;
}
.container .box a{
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	color:#999;
	text-align: left;
	text-indent: 35px;
	margin:2px 0;
	background-color: #eee;
}
.container .box a:hover{
	color:#fff;
	background-color: #458000;
}

.container .list{
	float: left;
	width: 910px;
}
/*内容栏目子信息区*/
.list .infor{
	height: 45px;
	line-height: 45px;
	background-color: #eee;
	margin:0 0 20px 0;
}
.list .infor .left{
	float: left;
}
.list .infor .left li{
	display: inline-block;
	width: 150px;
	height: 43px;
	line-height: 45px;
	text-align:center;
}
.list .infor .left li a{
	display: block;
	color:#666;
}
.list .infor .left li:first-child{
	position: relative;
	left:1px;
	background-color: #fff;
	border-top:2px solid #458000;
}
.list .infor .right{
	float:right;
	padding: 0 20px 0 0;
}
.list .infor .right li{
	display: inline-block;
	width:60px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
.list .infor .right li a{
	padding: 3px 8px;
	color:#666;
}
.list .infor .right li a.selected,.list .infor .right li a:hover{
	color:#fff;
	background-color: #458000;
}

/*旅游信息区*/
.list .tour-detail{
	position: relative;
	width: 908px;
	padding: 0;
	margin: 0 0 20px 0;
	border:1px solid #eee;
}
.list .tour-detail img{
	float:left;
}
.list .tour-detail figcaption{
	float: right;
	width:528px;
	height: 230px;
}
.list .tour-detail footer{
	position: absolute;
	bottom: 0;
	width: 528px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	text-indent: 25px;
	background-color: #fafafa;
}
.list .tour-detail time{
	color:#458b00;
}
.list .tour-detail hgroup{
	width: 300px;
}
.list .tour-detail h2{
	font-size: 24px;
	color:#333;
	font-weight: normal;
	padding: 10px 0 10px 25px;
}
.list .tour-detail h3{
	font-size: 16px;
	color:#666;
	font-style: normal;
	line-height: 1.5;
	padding: 10px 0 10px 25px;
}
.list .tour-detail ol{
	padding: 0 0 0 25px;
	line-height: 2;
	color: #666;
}
.list .tour-detail ol mark{
	background-color: #fff;
	border:1px solid #458b00;
	border-radius: 4px;
	padding: 0 5px;
	color:#458b00;
}
.list .tour-detail .buy{
	position: absolute;
	top: 55px;
	right: 30px;
}
.list .tour-detail .price{
	color:#f60;
	font-size: 20px;
}
.list .tour-detail .price strong{
	font-size: 36px;
}
.list .tour-detail .price s{
	font-size: 16px;
	color:#999;
}
.list .tour-detail .reserve{
	margin: 10px 0 0 0;
}
.list .tour-detail .reserve a{
	display: block;
	width: 152px;
	height: 40px;
	color:#fff;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	background-color: #f60;
	border-radius: 4px;
}
.list .tour-detail .type{
	position: absolute;
	top:0;
	left:0;
	width:90px;
	height: 25px;
	text-align: center;
	color:#fff;
	font-size: 14px;
	line-height: 25px;
	background-color:#59b200;
}
.list .tour-detail .disc{
	position: absolute;
	top:0;
	right:0;
	width: 52px;
	height: 52px;
}
.list .tour-detail .disc span{
	display: block;
	transform: rotate(45deg);
	width: 52px;
	height: 52px;
	padding: 5px 0 0 0;
	text-indent: 7px;
	font-size: 14px;
	color: #ff7a4d;
}
.list .more{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: #666;
	margin: 0 auto;
	border:1px solid #ccc;
	background-color: #fafafa;
	border-radius: 10px;
	cursor: pointer;
}

.container .ticket,.container .scenery,.container .about{
	color:#666;
	font-size: 20px;
}
.container .ticket h2,.container .scenery h2,.container .about h2{
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	font-weight: normal;
	border-bottom: 1px dashed #999;
	padding: 0 0 15px 0;
}
.container .ticket .type{
	margin:20px 0 10px 0 ;
}
.container .ticket .type mark{
	color:#fff;
	background-color:#458b00;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0 10px 0 16px;
}
.container .ticket .left{
	display: inline-block;
	width: 43%;
}
.container .ticket .right{
	display: inline-block;
	width: 43%;
}
.container .ticket .button{
	display: inline-block;
	width: 9%;
}
.container .ticket .form p{
	line-height: 3;
}
.container .ticket .form input{
	width: 250px;
	height: 30px;
	color:#666;
	font-size: 18px;
	padding: 5px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin: 0 0 0 16px;
}
.container .ticket .submit{
	display: block;
	position: relative;
	top:-28px;
	width: 90px;
	height: 90px;
	color:#fff;
	font-size: 20px;
	line-height: 90px;
	text-align: center;
	background-color: #f60;
	border-radius: 4px;
	border:none;
	cursor:pointer;
}
.container .ticket .new{
	margin:20px 0 0 0;
}
.container .ticket .new ul{
	margin:20px 0 0 0;
}
.container .ticket .new li{
	display: inline-block;
	padding: 5px 10px;
}
.container .ticket .new li:first-child{
	padding-left: 0;
}
.container .ticket .new li:nth-child(2){
	color:#fff;
	background-color: #458b00;
	border-radius: 4px;
}
.container .ticket table{
	margin: 20px 0 0 0;
	width: 100%;
	border:1px solid #ddd;
	border-collapse:collapse;
}
.container .ticket table th{
	height: 50px;
	line-height: 50px;
	border-bottom:1px solid #ddd;
}
.container .ticket table td{
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom:1px solid #ddd;
}
.container .ticket table tr:nth-child(2n){
	background-color: #fafafa;
}
.container .ticket table tr:hover{
	background-color: #eee;
}
.container .ticket table .price{
	color:#f60;
}
.container .ticket table .more-flight{
	color:#666;
}
.container .ticket table .reserve{
	display: inline-block;
	width: 80px;
	height: 35px;
	color:#fff;
	font-size: 20px;
	line-height: 35px;
	text-align: center;
	background-color: #f60;
	border-radius: 4px;
}


/*风景欣赏页面*/
.container .scenery figure{
	display:inline-block;
	width:435px;
	text-align:left;
	padding: 4px;
	border-radius:4px;
	border:1px solid #ddd;
	margin:15px 5px 15px 0;
}
.container .scenery figure img{
	width:435px;
	height: 280px;
}
.container .scenery figcaption{
	text-align: center;
	padding: 5px 0;
}

/*公司简介区*/
.container .about p{
	line-height: 2;
	margin: 20px 0;
}
.container .about address{
	line-height: 1.6;
	margin:20px 0;
	font-style: normal;
}