@charset "utf-8";
body,h1,h2,p,ul,figure{
	margin:0;
	padding: 0;
}
body{
	font-size: 12px;
	font-family: "微软雅黑"；
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
}
.none{
	display: none;
}

/*导航部分*/
#header{
	position: relative;
	width:100%;
	min-width: 1263px;
	height: 70px;
	background: #333;
	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	z-index: 9999;
}
#header .center{
	width:1263px;
	height: 70px;
	margin:0 auto;
}
#header .logo{
	float: left;
	width: 240px;
	height: 70px;
	background-image: url(../img/logo.png);
	text-indent: -9999px;
}
#header .link{
	width:650px;
	float: right;
	height: 70px;
	color:#eee;
	line-height: 70px;
}
#header .link li{
	float:left;
	width:120px;
	text-align:center;
}
#header .link a{
	display: block;
	color:#eee;
}
#header .link a:hover,#header .active{
	background-color:#000;
}

/*页脚区 footer*/
#footer{
	height:360px;
	background-color: #222; 
}
#footer .top{
	width: 1263px;
	height: 279px;
	margin:0 auto;
	text-align: center;
}
#footer .bottom{
	height: 80px;
	background-color: #000;
	color:#777;
	font-size:16px;
	text-align: center;
	line-height: 80px;
	border-top:1px solid #444;
}
#footer .block{
	display: inline-block;
	width:410px;
	height: 279px;
	color:#ccc;
	text-align:left;
	vertical-align:top;
}
#footer .block h2{
	font-size:24px;
	font-weight: normal;
	padding: 20px 0 0 20px;
}
#footer .block hr{
	width:90%;
	border:1px dashed #333;
}
#footer ul{
	color:#777;
	font-size: 18px;
	text-indent:20px;
	line-height: 2;
}